@media only screen and (min-width: 1280px) {
   * {
font-size: 62%;
font-family:  Serif, 'Source Sans Pro';
font-weight: 400;
}
main {
   display: grid;
 }

section#section1{
    width: 100%;
    position: absolute;
    top: 32%;
    overflow: hidden;
}
.slider img{
   width: 100%;
}
.slider{
   display: flex;
   transition: transform 0.5s ease-in-out;
}
button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: none;
   border: none;
   font-size: 24px;
   cursor: pointer;
 }
 .prev {
   left: 4%;
 }
 
 .next {
   right: 4%;
 }
h1 {
    position: absolute;
    left: 16rem;
    top: 30rem;
    font-size: 6rem;
    color: #1c1106;
}
h2{
    position: relative;
    left: 16rem;
    top: 30rem;
    font-size: 6rem;
    color: #1c1106;
}

.line {
    width: 55rem;
    height: 0.1rem;
    position: absolute;
    left: 12rem;
    top: 40rem;
    background-color: #55361a;
}
 .button {
    position: absolute;
    width: 8rem;
    padding-right: 1.5%;
    padding-bottom: 0.5%;
    height: 2.4rem;
    left: 23%;
    top: 85%;
    border-radius: 50px;
    border: 1px solid black;
    font-size: medium;

}
 .button a {
    text-decoration: none;
    list-style: none;
    padding-left: 2.1rem;
    color: #1c1106;
}
.button a:hover{
    color: #55361a;
    transition: all 0.4s ease;
}
section#section2 {
    position: relative;
    display: flex;
}
#section2 article img {
    width: 20rem;
    height: 20rem;
    position: relative;
    top: 55rem;
}
article .special-1 {
   left: 10rem;
}
article .special-2 {
    left: 20rem;
 }

 article .special-3 {
    left: 30rem;
 }

 article .special-4 {
    left: 40rem;
 }
 #section2 article img{
    object-fit: cover;
 }
 #section2 article img:hover {
    transform: scaleY(1.1);
 }
 section#section3{
    top: 100%;
    position: absolute;
 }
 #section3 .hamtrah-1{
    width: 24rem;
    height: 32rem;
    position: relative;
    left: 73rem;  
 }
 #section3 .hamtrah-2{
    width: 24rem;
    height: 32rem;
    position: relative;
    left: 49rem;
    top: 40rem;    
 }
 #section3 .hamtrah-3{
    width: 26rem;
    height: 44rem;
    position: relative;
    left: 53rem;
    top: 28rem;
 }
}