* {
font-size: 62%;
font-family:  Serif, 'Source Sans Pro';
font-weight: 400;
}
.logo{
    width: 100%;
    height: 70rem;
    position: absolute;
    top: 15rem;
}

h1 {
    position: absolute;
    left: 16rem;
    top: 30rem;
    font-size: 6rem;
    color: #1c1106;
}
h2{
    position: relative;
    left: 16rem;
    top: 30rem;
    font-size: 6rem;
    color: #1c1106;
}

.line {
    width: 55rem;
    height: 0.1rem;
    position: absolute;
    left: 12rem;
    top: 40rem;
    background-color: #55361a;
}
 .button {
    position: absolute;
    width: 8rem;
    height: 2.4rem;
    left: 28rem;
    top: 60rem;
    border-radius: 50px;
    border: 1px solid black;
    font-size: medium;
}
 .button a {
    text-decoration: none;
    list-style: none;
    padding-left: 2.1rem;
    color: #1c1106;
}
.button a:hover{
    color: #55361a;
    transition: all 0.4s ease;
}
.first_section {
    position: relative;
    display: flex;
}
.first_section article img {
    width: 20rem;
    height: 20rem;
    position: relative;
    top: 80rem;
}
article .special-1 {
   left: 20rem;
}
article .special-2 {
    left: 30rem;
 }

 article .special-3 {
    left: 40rem;
 }

 article .special-4 {
    left: 50rem;
 }
 
 .second_section{
    top: 90rem;
    position: absolute;
 }
 .second_section .hamtrah-1{
    width: 24rem;
    height: 32rem;
    position: relative;
    left: 90rem;  
 }
 .second_section .hamtrah-2{
    width: 24rem;
    height: 32rem;
    position: relative;
    left: 66rem;
    top: 40rem;    
 }
 .second_section .hamtrah-3{
    width: 26rem;
    height: 44rem;
    position: relative;
    left: 70rem;
    top: 28rem;
 }
 