@media only screen and (min-width: 1280px) {
    * {
    font-size: 50%;
    font-family:  Serif, 'Source Sans Pro';
    font-weight: 400;
    }
    main{
      display: grid;     
      grid-template-columns: 20rem 1fr 1fr 1fr;
      grid-row-gap: 800fr;
    }
    
      section#sec1{
      width: 100%;
      height: 50%;
      position: absolute;
      overflow: hidden;
      top: 32%;
      }
      .slider{
            display: flex;
            transition: transform 0.5s ease-in-out;
      }
      button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
      }
      .prev {
            left: 4%;
      }
      
      .next {
            right: 4%;
      }
      .line{
            width: 100%;
            height: 0.4%;
            position: absolute;
            top: 99.8%;
            background-color: black;
      }
     #sec2{
            position: absolute;
            top: 10%;
     }
      #sec2 article{
            float: left;
            margin-top: 38%;
      }
      #sec2 article li{
            display: inline-block;
            list-style: none;
      }
      #sec2 article li a{
            font-size: 18px;
            padding: 120px;
            color: black;
            text-decoration: none;
      }
     #sec2 article ul li a:hover{
            color: rgba(86, 88, 219, 0.164);
            transition: all 0.4s ease;
      }
      #sec3 article {
            display: grid;
            position: absolute;
            width: 60%;
            height: 10%;
            border: 1px solid gray;
            top: 100%;
            margin-left: 15%;
            padding-left: 3%;
      }
      
}