* {
    font-size: 62%;
    font-family: Serif, 'Source Sans Pro';
    font-weight: 400;
}

.line {
    width: 80%;
    height: 0.1rem;
    position: absolute;
    left: 12rem;
    top: 25rem;
    background-color: #55361a;
}

h2 {
    font-size: xx-large;
    position: absolute;
    left: 13rem;
    top: 20rem;
}

.progress-container {
    width: 80%;
    margin: 2em auto;
    position: absolute;
    left: 12rem;
    top: 30rem;
}

.progress-steps {
    counter-reset: step;
}

.progress-steps li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: .7em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: burlywood;
}

.progress-steps li:before {
    width: 2.5em;
    height: 2.5em;
    content: counter(step);
    counter-increment: step;
    line-height: 2.5em;
    border: 2px solid, #55361a;
    display: block;
    text-align: center;
    margin: 0 auto .7em auto;
    border-radius: 50%;
    background-color: white;
}

.progress-steps li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #55361a;
    top: 1.3em;
    left: -50%;
    z-index: -1;
}

.progress-steps li:first-child:after {
    content: none;
}

.progress-steps li.active {
    color: black;
}

.progress-steps li.active:before {
    border-color: black;
}

.progress-steps li.active+li:after {
    background-color: black;
}