* {
    font-size: 62%;
    font-weight: 400;
}

.line {
    width: 80%;
    height: 0.1rem;
    position: absolute;
    left: 12rem;
    top: 25rem;
    background-color: #55361a;
}

h2 {
    font-size: xx-large;
    position: absolute;
    left: 13rem;
    top: 20rem;
}

body {
    font-family: sans-serif;
}

.process-diagram {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40rem;
}

.step {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.step-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 10px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.step-arrow:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: black;
}

.step:first-child .step-arrow {
    display: none;
}

.step:last-child .step-arrow:after {
    content: 'Activate Wind';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: white;
    color: black;
    font-size: 12px;
    border: 1px solid black;
}